body{
    background-color: #fca6c9;
    margin: 0 35%;
    text-align: center;
}
.top_title{
    color: white;
    font-size: 50px;
}
h1{
	font-family: Arial;
}
#quote_1 {
    color: white;
    font-family: Times;
    font-size: 8;
}
li{
    margin: 6px;
    font-weight: bold;
    font-size: 17px;
}
h2{
    color: white;
}
.quote_2 {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

img{
    width: 200px;
    margin: 10px;
    
}
.quote_4 {
	color: white;
    font-family: Times;
    font-size: 19;
    margin: 10px 80px;
}
.quote_3 {
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 5;
    text-align: left;
}
.bottom{
    font-weight: bold;
    margin: 20px 30px 50px;
}
